.backgroundImage {
  position: fixed;
  width: 100vw;
  background-image: url(../../assets/noTextLogo400px.webp);
  height: 100vh;
  background-size: 300px;
  background-repeat: space;
  filter: blur(3px);
  z-index: -10;
}
@media screen and (max-width: 700px) {
  .backgroundImage {
    background-size: 200px;
  }
}
@media screen and (max-width: 500px) {
  .backgroundImage {
    background-size: 150px;
  }
}
