.backgroundImage {
  position: fixed;
  width: 100vw;
  background-image: url(../../assets/noTextLogo400px.png);
  height: 98vh;
  background-size: 300px;
  background-repeat: space;
  filter: blur(3px);
  z-index: -10;
}
