#cateringForm {
  background-color: var(--background-colour);
  z-index: 3;
  margin-top: 12rem;
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#cateringForm form {
  max-width: 75%;
}
/* Hide the placeholder text in the date input field */
input[type="date"]::-webkit-datetime-edit-text {
  color: transparent;
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #000;
}
