:root {
  --default-width: 100svw;
  --default-height: 25em;
  --default-padding: 75px;
  --text-color: #ffffff;
  --emphasis-color: #ccc;
  --slide-primary-color: #000099;
  --slide-secondary-color: #4d0099;
  --slide-content-color: #004d99;
  --button-hover-colour: #535bf2;
}

.carousel-root {
  margin-top: 7.8rem;
  z-index: 5;
  border-bottom: 3px solid var(--border-colour);
}

.presentationMode .mySlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--default-height);
  padding: var(--default-padding);
  line-height: 1.5;
  font-size: 1.5em;
  color: var(--text-color);
}

.mySlide > img {
  position: absolute;
}
.presentationMode .mySlide h1,
.presentationMode .mySlide h2,
.presentationMode .mySlide h3,
.presentationMode .mySlide h4,
.presentationMode .mySlide h5,
.presentationMode .mySlide h6,
.presentationMode .mySlide p,
.presentationMode .mySlide ul,
.presentationMode .mySlide ol {
  border: 0;
  margin: 10px auto;
  padding: 0;
  display: inline-block;
  z-index: 5;
  text-wrap: balance;
}

.presentationMode .mySlide h2 {
  font-size: 2.5rem;
  color: var(--main-yellow);
  border-bottom: 2px solid var(--main-red);
  -webkit-text-stroke: 2px var(--shadow-colour);
}
.carouselSlideText {
  max-width: 65%;
  z-index: 5;
  border-radius: 5px;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  border: none;
  transition: backdrop-filter 0.3s ease-in-out, border 0.3s ease-in-out,
    -webkit-backdrop-filter 0.3s ease-in-out;
}
.mySlide:hover .carouselSlideText {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid var(--border-colour);
}
.presentationMode .mySlide.complex {
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}

.presentationMode .mySlide ul,
.presentationMode .mySlide ol {
  margin: 10px;
  padding-left: 75px;
}

.presentationMode .mySlide ol li {
  list-style: decimal !important;
}

.presentationMode .mySlide ul li {
  list-style: disc;
}

.presentationMode .mySlide p {
  font-size: 1.5rem;
}

.presentationMode .mySlide strong,
.presentationMode .mySlide em {
  color: var(--emphasis-color);
}

.presentationMode .mySlide a {
  font-family: "Ahkio Thin";
  font-size: 1.5rem;
  color: var(--main-red);
  text-decoration: none;
}

.presentationMode .mySlide iframe,
.presentationMode .mySlide img {
  width: var(--default-width);
  height: var(--default-height);
  margin: calc(-1 * var(--default-padding));
}

.presentationMode .mySlide ul,
.presentationMode .mySlide ol,
.presentationMode .mySlide li {
  text-align: left;
}

.presentationMode .mySlide blockquote {
  position: relative;
  color: var(--main-yellow);
  text-align: left;
  border-left: 10px solid var(--emphasis-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  padding-left: 50px;
  quotes: "\201C""\201D""\2018""\2019";
}

.presentationMode .mySlide blockquote:before {
  color: #ccc;
  content: open-quote;
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.presentationMode .mySlide blockquote p {
  display: inline;
}

.presentationMode .mySlide.primary {
  background-color: var(--slide-primary-color);
}

.presentationMode .mySlide.secondary {
  background-color: var(--slide-secondary-color);
}

.presentationMode .mySlide.content {
  background-color: var(--slide-content-color);
}

@media screen and (max-width: 700px) {
  .carousel-root {
    margin-top: 6.8rem;
  }
  .presentationMode .mySlide h2 {
    font-size: 2rem;
    -webkit-text-stroke: 1.5px var(--shadow-colour);
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-red);
    box-shadow: 0px 4px 6px -6px var(--shadow-colour);
  }
  .presentationMode .mySlide p {
    font-size: 1.5rem;
  }
  .presentationMode .mySlide a {
    font-size: 1.5rem;
  }
  .carouselSlideText {
    max-width: 90%;
  }
}
