:root {
  --default-width: 100svw;
  --default-height: 30rem;
  --default-padding: 75px;
  --text-color: #ffffff;
  --emphasis-color: #ccc;
  --slide-primary-color: #000099;
  --slide-secondary-color: #4d0099;
  --slide-content-color: #004d99;
  --button-hover-colour: #535bf2;
}

.carousel-root {
  margin-top: 5.5rem;
  z-index: 5;
  border-bottom: 3px solid var(--border-colour);
}

.presentationMode .slideDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--default-height);
  padding: var(--default-padding);
  line-height: 1.5;
  font-size: 1.5em;
  color: var(--text-color);
}

.slideDiv > img {
  position: absolute;
}
.presentationMode .slideDiv h1,
.presentationMode .slideDiv h2,
.presentationMode .slideDiv h3,
.presentationMode .slideDiv h4,
.presentationMode .slideDiv h5,
.presentationMode .slideDiv h6,
.presentationMode .slideDiv p,
.presentationMode .slideDiv ul,
.presentationMode .slideDiv ol {
  border: 0;
  margin: 10px auto;
  padding: 0;
  display: inline-block;
  z-index: 5;
  text-wrap: balance;
}

.presentationMode .slideDiv h2 {
  font-size: 2.5rem;
  color: var(--main-yellow);
  border-bottom: 2px solid var(--main-red);
  -webkit-text-stroke: 2px var(--shadow-colour);
}
.slideText {
  max-width: 70%;
  z-index: 5;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.slideDiv:hover .slideText {
  background-color: #1717179c;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 2px solid var(--border-colour);
}
.presentationMode .slideDiv.complex {
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}

.presentationMode .slideDiv ul,
.presentationMode .slideDiv ol {
  margin: 10px;
  padding-left: 75px;
}

.presentationMode .slideDiv ol li {
  list-style: decimal !important;
}

.presentationMode .slideDiv ul li {
  list-style: disc;
}

.presentationMode .slideDiv p {
  font-size: 1.5rem;
  white-space: pre-line;
}

.presentationMode .slideDiv strong,
.presentationMode .slideDiv em {
  color: var(--emphasis-color);
}

.presentationMode .slideDiv a {
  font-family: "Ahkio Thin";
  font-size: 1.5rem;
  color: var(--main-red);
  text-decoration: none;
}

.presentationMode .slideDiv iframe,
.presentationMode .slideDiv img {
  width: var(--default-width);
  height: var(--default-height);
  margin: calc(-1 * var(--default-padding));
}

.presentationMode .slideDiv ul,
.presentationMode .slideDiv ol,
.presentationMode .slideDiv li {
  text-align: left;
}

.presentationMode .slideDiv blockquote {
  position: relative;
  color: var(--main-yellow);
  text-align: left;
  border-left: 10px solid var(--emphasis-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  padding-left: 50px;
  quotes: "\201C""\201D""\2018""\2019";
}

.presentationMode .slideDiv blockquote:before {
  color: #ccc;
  content: open-quote;
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.presentationMode .slideDiv blockquote p {
  display: inline;
}

.presentationMode .slideDiv.primary {
  background-color: var(--slide-primary-color);
}

.presentationMode .slideDiv.secondary {
  background-color: var(--slide-secondary-color);
}

.presentationMode .slideDiv.content {
  background-color: var(--slide-content-color);
}

@media screen and (max-width: 700px) {
  .carousel-root {
    margin-top: 6.8rem;
  }
  .presentationMode .slideDiv h2 {
    font-size: 2rem;
    -webkit-text-stroke: 1.5px var(--shadow-colour);
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-red);
    box-shadow: 0px 4px 6px -6px var(--shadow-colour);
  }
  .presentationMode .slideDiv p {
    font-size: 1.5rem;
  }
  .presentationMode .slideDiv a {
    font-size: 1.5rem;
  }
  .slideText {
    max-width: 95%;
  }
}
