#heroContent {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 55vh;
  & > img {
    margin-top: calc(100vh / 9);
    width: 100%;
    height: auto;
    max-height: 65vh;
    object-fit: cover;
    z-index: -1;
    outline: 2px solid var(--border-colour);
  }
  & #heroContentText {
    position: absolute;
    top: 40%;
    padding: 1rem;
    width: 80%;
    z-index: 3;
    outline: 2px solid var(--main-red);
    background-color: var(--translucent-black);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    & a {
      font-family: "Ahkio Thin";
      color: var(--main-red);
    }

    & > h1 {
      color: var(--main-yellow);
      -webkit-text-stroke: 2px var(--border-colour);
      font-size: 48px;
      margin: 0px;
    }
    & > p {
      color: var(--text-light);
      font-size: 22px;
    }
  }
  {/* TODO: i need to adjust this behaviour when i have clickable elements within the hero  */}
  & #heroContentText:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  @media screen and (max-width: 800px) {
    & > img {
      margin-top: calc(100vw / 5);
    }
    #heroContentText {
    width: 90%;
      & > h1 {
        font-size: 36px;
        -webkit-text-stroke-width: 1.5px;
      }
      & > p {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    & > img {
      margin-top: calc(100vw / 4);
    }
    #heroContentText {
      & > h1 {
        font-size: 28px;
        -webkit-text-stroke-width: 1.5px;
      }
      & > p {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    & > img {
      margin-top: calc(100vw / 2.5);
      height: 65vh;
    }
    #heroContentText {
      top: 35%;
      & > h1 {
        font-size: 26px;
        -webkit-text-stroke-width: 1.5px;
      }
      & > p {
        font-size: 20px;
      }
    }
  }
}
