img {
}
@keyframes spinY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.spin3d-simple {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spinY 5s linear infinite;
    transform-style: preserve-3d;
    backface-visibility: visible;
}

.locationOption {
    font-size: 20px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        color: var(--main-yellow);
    }
}
