/* .sectionTitle {
  -webkit-text-stroke: var(--border-colour) 1.5px;
  font-size: 3rem;
  color: var(--main-yellow);
  position: absolute;
  top: -6rem;
}
.sectionDescription {
  width: 25rem;
}
.menuContainer {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menuContainer h3 {
  font-family: "Ahkio W00 Bold";
  margin-top: 0px;
  font-size: 1.5rem;
  color: var(--menu-item-colour);
  text-wrap: balance;
}
.menuContainer h4 {
  font-family: "Ahkio Thin";
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text-dark);
}
.menuContainer p {
  font-size: 1.2rem;
  color: var(--text-dark);
  text-wrap: balance;
}
.menuList {
  width: 50%;
  border: 2px solid var(--border-colour);
}
#menuImageContainer {
  border: 2px solid var(--border-colour);
  width: auto;
}
#menuImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuCard {
  display: flex;
  position: relative;
  padding: 1rem;
  border: 2px solid var(--border-colour);
  background-color: var(--white);
  border-radius: 5px;
  margin: 2rem;
}
.menuCardItem {
  text-align: left;
  padding: 0.5rem;
  background-color: var(--card-background-colour);
  width: 35%;
  border: 2px solid var(--border-colour);
  border-radius: 10px;
  margin: 0.5rem;
}
.menuCard p {
  margin-bottom: 0px;
}
.menuCardItem h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--text-dark);
}
.menuCardItem h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.menuCardItem .price {
  text-align: right;
}
p.secretMenuLink {
  font-family: "Raleway Medium";
  color: var(--border-colour);
  filter: none;
}
p.secretMenuLink a {
  font-family: "Raleway Medium";
}
p.secretMenuLink a:hover {
  color: var(--border-colour);
}

@media screen and (max-width: 500px) {
  .menuContainer {
    margin-top: 11rem;
  }
  .menuCard h2 {
    font-size: 2.5rem;
    top: -4.5rem;
  }
  .menuCard h3 {
    font-size: 1.6rem;
  }
  .menuCard p {
    font-size: 1rem;
  }
} */

.menuContainer {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menuList {
  padding-top: 1rem;
  height: 50vw;
  overflow-y: scroll;
}
.menuCard {
  display: grid;
  position: relative;
  padding: 1rem;
  border: 2px solid var(--border-colour);
  background-color: var(--white);
  border-radius: 5px;
  margin: 2rem;
}
.menuCardItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5rem;
}
.menuCardItem {
  text-align: left;
  flex: 0 0 35%;
  background-color: var(--card-background-colour);
  border: 2px solid var(--border-colour);
  padding: 0.5rem;
  margin: 0.5rem;
}
.sectionTitle {
  -webkit-text-stroke: var(--border-colour) 1.5px;
  font-size: 3rem;
  color: var(--main-yellow);
  position: absolute;
  top: -6rem;
}
.sectionDescription {
  font-size: 22px;
}
#menuImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid var(--border-colour);
  height: 45vw;
  max-width: 45vw;
  overflow: hidden;
}
#menuImageContainer > img {
  object-fit: fill;
}
