.sectionTitle {
  -webkit-text-stroke: var(--border-colour) 1.5px;
  font-size: 3rem;
  color: var(--main-yellow);
  position: absolute;
  top: -6rem;
}
.menuContainer h3 {
  font-family: "Ahkio Thin";
  margin-top: 0px;
  font-size: 1.5rem;
  color: var(--menu-item-colour);
  text-wrap: balance;
}
.menuContainer h4 {
  font-family: "Ahkio Thin";
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text-dark);
}
.menuContainer p {
  font-size: 1.1rem;
  color: var(--text-dark);
  text-wrap: balance;
}
.menuContainer {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95svw;
}
.menuCard {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--border-colour);
  background-color: var(--white);
  /* box-shadow: 2px 2px 5px var(--shadow-colour); */
  border-radius: 5px;
  /* backdrop-filter: opacity(0.8); */
}
.menuCardItem h4 {
  font-size: 1.2rem;
  color: var(--main-red);
}
p.secretMenuLink {
  font-family: "Raleway Medium";
  color: var(--border-colour);
  filter: none;
}
p.secretMenuLink a {
  font-family: "Raleway Medium";
}
p.secretMenuLink a:hover {
  color: var(--border-colour);
}

@media screen and (max-width: 500px) {
  .menuContainer {
    margin-top: 10rem;
  }
  .menuCard h2 {
    font-size: 2.5rem;
    top: -4.5rem;
  }
  .menuCard h3 {
    font-size: 1.6rem;
  }
  .menuCard p {
    font-size: 1rem;
  }
}
