.menuContainer {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95svw;
  height: 95svh;
}

.menuCard {
  position: relative;
  border: 2px solid var(--border-colour);
  padding: 1rem;
  background-color: var(--main-yellow);
  box-shadow: 2px 2px 5px var(--shadow-colour);
  border-radius: 5px;
  /* backdrop-filter: opacity(0.8); */
}

.menuCard > h2,
h3,
h4 {
  filter: drop-shadow(2px 2px 2px var(--shadow-colour));
  -webkit-text-stroke: var(--border-colour) 1.7px;
}

.menuCard > h2 {
  font-size: 3rem;
  color: var(--main-yellow);
  position: absolute;
  top: -6rem;
}

.menuCard h3 {
  margin-top: 0px;
  font-size: 2rem;
  color: var(--main-yellow);
  text-wrap: balance;
}
.menuCard h4 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-text-stroke: var(--border-colour) 1.5px;
  font-size: 1.5rem;
  color: var(--white);
}

.menuCard p {
  font-size: 1.1rem;
  color: var(--white);
  filter: drop-shadow(2px 2px 2px var(--shadow-colour));
  text-wrap: balance;
}

.secretMenuLink:hover {
  color: var(--border-colour);
}

@media screen and (max-width: 500px) {
  .menuContainer {
    margin-top: 8rem;
  }
  .menuCard h2,
  h3,
  h4 {
    -webkit-text-stroke: var(--border-colour) 1.5px;
  }
  .menuCard h2 {
    font-size: 2.5rem;
    top: -4.5rem;
  }
  .menuCard h3 {
    font-size: 1.6rem;
  }
  .menuCard h4 {
    font-size: 1.3rem;
    -webkit-text-stroke: var(--border-colour) 1px;
  }
  .menuCard p {
    font-size: 1rem;
    filter: drop-shadow(1px 1px 1px var(--shadow-colour));
  }
}
