.parallaxContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
  align-items: center;
}

.parallaxText {
  position: relative;
  z-index: 3;
  width: 45vw;
  font-size: 2rem;
  padding: 0 1rem;
  border: 2px solid var(--border-colour);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  justify-self: center;
}

.rightColumn {
  grid-column: 2;
}

.parallaxImage,
.parallaxImage2 {
  z-index: -1;
}

.parallaxImage {
  grid-row: span 2;
}

.parallaxImage2 {
  grid-row: 3 / 5;
}

.parallaxImage img,
.parallaxImage2 img {
  position: relative;
  width: 75%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .parallaxContainer {
    grid-template-columns: 1fr;
  }

  .parallaxImage,
  .parallaxImage2 {
    width: 100vw;
  }

  .parallaxText {
    width: 80vw;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .parallaxImage2 {
    grid-row: span 2;
  }

  .rightColumn {
    grid-column: 1;
  }
}
