.scrollContainer {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 25rem;
}
.horizontalScrollingItems {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontalScrollingItems a {
  color: var(--main-red);
  -webkit-text-stroke: var(--text-dark) 2px;
}
.horizontalScrollingItems a:hover {
  color: var(--main-yellow);
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.horizontalScrollingItems:hover {
  animation-play-state: paused;
}

.horizontalScrollingItemsItems {
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .scrollContainer {
    margin-bottom: 10rem;
  }
  .horizontalScrollingItems {
    font-size: 2rem;
  }
  .horizontalScrollingItems a {
    -webkit-text-stroke: var(--border-colour) 1.5px;
  }
}
