.secretMenuContainer {
  margin-top: 12rem;
  padding: 0.5rem;

  & p {
    font-size: 1.1rem;
    color: var(--text-colour-dark);
  }
  & h2,
  h1 {
    color: var(--main-yellow);
    font-size: 3rem;
    -webkit-text-stroke: 2px var(--border-colour);
  }
}

.mainBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-colour);
  border: 2px solid var(--border-colour);
  border-radius: 10px;
}

.brands {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    color: var(--main-yellow);
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--border-colour);
  }
  & > a {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: var(--main-red);
    -webkit-text-stroke: 0.8px var(--border-colour);
  }
}
.credits {
  padding: 1rem;

  & > #me {
    font-size: 2rem;
    transition: transform 10s cubic-bezier(0.4, 0, 0.2, 1);
  }
  & > #me:hover {
    transform: scale(15) rotate(3600deg);
  }
  & > h3 {
    color: var(--main-yellow);
    font-size: 2rem;
    -webkit-text-stroke: 0.8px var(--border-colour);
  }
  & a {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: var(--main-red);
    -webkit-text-stroke: 0.8px var(--border-colour);
  }
}
@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.secretMenuContainer img {
  animation: none;
  transform-style: unset;
}

.spin3d-simple {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin3d-simple img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: spinY 5s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

@media screen and (max-width: 500px) {
  .secretMenuContainer {
    margin-top: 8rem;
  }

  .secretMenuContainer h2 {
    font-size: 2rem;
  }
}
