#root {
  width: 100svw;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mapSection {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  margin: auto;
}
.mapEmbed {
  margin-top: 3em;
  margin-bottom: 3rem;
  height: 40em;
  width: 50svw;
  border: 2px solid var(--main-red);
}
/* this is here to fix an accidental namespace issue with .sectionContainer */
.mapEmbed a {
  font-family: "Raleway Medium";
}
.mapEmbed h2 {
  font-family: "Ahkio W00 Bold";
  color: var(--main-yellow);
  margin: 0px;
  font-size: 2.5rem;
  -webkit-text-stroke: 2px var(--border-colour);
}
.mapEmbed h3 {
  -webkit-text-stroke: var(--transparent-color) 0px;
  filter: drop-shadow(2px 2px 2px var(--transparent-color));
}

.mapEmbed img {
  width: 90svw;
  height: 40em;
}

#locationsInfo {
  margin: 1.5rem;
  text-align: left;
}
#locationsInfo h2 {
  color: var(--main-red);
  -webkit-text-stroke: 1px var(--border-colour);
}
#locationsInfo h1,
#locationsInfo h3 {
  color: var(--main-yellow);
  -webkit-text-stroke: 1px var(--border-colour);
}
#locationsInfo a {
  color: var(--main-red);
}

@media screen and (max-width: 700px) {
  #mapSection {
    flex-direction: column;
    align-items: center;
  }
  .mapEmbed {
    width: 90svw;
    height: 30em;
  }
  .mapEmbed img {
    width: 90svw;
    height: 30em;
  }
}
