:root {
  --main-yellow: #ffb800;
  --main-red: #ff0000;
  --transparent-color: #00000000;
  --button-hover-colour: #535bf2;
  --border-colour: #000000;
  --shadow-colour: #000000;
}

#root {
  width: 100svw;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  width: 95svw;
  display: flex;
  justify-content: space-between;
  /* background-color: var(--transparent-color);
  box-shadow: 3px 3px 29px var(--shadow-colour);
  border-bottom: 2px solid var(--main-red); */
  z-index: 10;
}

#logo,
.hamburgerMenuButtons {
  background-color: var(--transparent-color);
  margin-top: 1rem;
  transition: background-color 0.5s;
}

#logo {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: var(--main-yellow);
  -webkit-text-stroke-color: var(--shadow-colour);
  -webkit-text-stroke-width: 2px;
}

#logo * {
  margin: 0;
  text-shadow: 3px 3px 2px var(--shadow-colour);
}

#redLogo {
  color: var(--main-red);
}

#redLogo:hover {
  color: var(--button-hover-colour);
}

.hamburgerMenuButtons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.hamburgerMenuButtons > * {
  font-size: 2rem;
  color: var(--main-red);
  -webkit-text-stroke-color: var(--border-colour);
  -webkit-text-stroke-width: 2px;
  text-shadow: 3px 3px 2px var(--shadow-colour);
}

.parallaxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100svw;
  align-items: center;
}

.parallaxText,
.parallaxText2,
.parallaxText3 {
  color: white;
  width: 45svw;
  position: relative;
  padding: 3svw;
  border: 2px solid var(--main-red);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.parallaxText {
  left: -20svw;
}

.parallaxText2 {
  left: 20svw;
}

.parallaxImage,
.parallaxImage2 {
  position: relative;
  width: 75svw;
  max-height: 50rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--shadow-colour);
}

.parallaxImage {
  left: -15svw;
}

.parallaxImage2 {
  left: 15svw;
}

.scrollContainer {
  width: 100%;
  overflow-x: hidden;
}
.horizontalScrollingItems {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.horizontalScrollingItems:hover {
  animation-play-state: paused;
}

.horizontalScrollingItemsItems {
  white-space: nowrap;
}

.mapEmbed {
  margin-top: 3em;
  width: 90svw;
  height: 40em;
  margin-bottom: 4rem;
  border: 2px solid var(--main-red);
}

.mapEmbed img {
  width: 90svw;
  height: 40em;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95svw;
  height: 95svh;
  margin-top: 14.5svh;
}

.sectionContainer {
  border: 2px solid var(--main-red);
  padding: 1rem;
  background-color: var(--main-yellow);
  /* backdrop-filter: opacity(0.8); */
}

.sectionContainer > h2 {
  font-size: 3rem;
  color: var(--main-yellow);
  filter: drop-shadow(3px 3px 2px var(--shadow-colour));
  -webkit-text-stroke: var(--border-colour) 2px;
}

.sectionContainer h3 {
  font-size: 2rem;
  color: var(--main-yellow);
  filter: drop-shadow(3px 3px 2px var(--shadow-colour));
  -webkit-text-stroke: var(--border-colour) 2px;
}

.sectionContainer p {
  font-size: 1.1rem;
  color: white;
  filter: drop-shadow(3px 3px 2px var(--shadow-colour));
}
@media screen and (max-width: 700px) {
  .parallaxText,
  .parallaxText2,
  .parallaxText3 {
    width: 90svw;
    left: 0;
  }

  .parallaxImage,
  .parallaxImage2 {
    width: 90svw;
    left: 0;
  }

  #logo h1 {
    font-size: 2rem;
  }

  .hamburgerMenuButtons > * {
    font-size: 1.5rem;
  }
}
